# Radiacode-10X radiation detector
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="f123", ATTRS{manufacturer}=="AngioScan", GROUP="plugdev", MODE="0660"
